<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <link rel="stylesheet" href="public/css/nav.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Dashboard</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="flex-row-center-center"><a href="#"><i class="fas fa-home"></i> Home</a><a href="#"><i class="fas fa-search"></i> Search</a><a
            href="#"><i class="fas fa-user"></i> Profile</a><a href="#"><i class="fas fa-envelope"></i> Messages</a><a
            href="#"><i class="fas fa-cog"></i> Settings</a></nav>

    <div class="add flex-column-center-center">
        <i class="fas fa-plus"></i>
    </div>

    <h1>Dashboard</h1>
</body>

</html>