nav {
  position: fixed;
  width: 100vw;
  height: 70px;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > img {
  margin-left: 35px;
}

body {
  margin-top: calc(70px + 2em);
  background-color: #121d0b;
  min-height: 100vh;
}

.nav-link {
  padding-bottom: 1em;
  font-family: "Lekton";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.05em;
  color: #58c3b5;
  text-decoration: none;
}

.follow-bar-mobile {
  display: none;
}


.sidenav {
  position: fixed;
  top: 0;
  opacity: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: 1;
  background-color: #28361d;
  overflow-x: hidden;
  transition: width 0.5s ease, opacity 1s ease-in; 
  text-align: center;
}

.sidenav-inner {
  height: calc(100vh - 100px - 20px);
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  color: #ebf6e5;
}

.nav-link:hover {
  color: #58c3b5;
}

.nav-link:hover svg path {
  stroke: #58c3b5;
}

.copyright {
  font-family: "Lekton";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ebf6e5;
}

.sidenav .closebtn {
  position: absolute;
  top: 25px;
  right: 25px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
