nav {
  position: fixed;
  width: 100vw;
  height: 70px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile_logo {
  display: none;
}

.side-logo>img {
  width: 60%;
}


.menu-container {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin-top: calc(70px);
  background-color: #121d0b;
  height: calc(100vh - 70px);
}

.nav-link {
  padding-bottom: 1em;
  font-family: "Lekton";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.05em;
  color: #58c3b5;
  text-decoration: none;
}

@media screen and (max-height: 700px) {
  .sidenav {
    padding-top: 30px!important;
    height: calc(100% - 30px)!important;
  }
}

.sidenav.open {
  transform: translateX(0);
}

.sidenav {
  padding-top: 70px;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  height: calc(100% - 70px);
  width: 300px;
  z-index: 1;
  background-color: #28361d;
  overflow-x: hidden;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.5em;
  align-items: center;
}


.sidenav:nth-last-child(1) {
  justify-self: end;
}

.nav-link {
  color: #ebf6e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-link:hover {
  color: #58c3b5;
}

.nav-link:hover svg path {
  stroke: #58c3b5;
}

.copyright {
  font-family: "Lekton";
  font-style: normal;
  font-weight: 700;
  font-size: 0.9em;
  line-height: 1.2em;
  display: flex;

  text-align: center;
  letter-spacing: 0.05em;
  color: #ebf6e5;
}

.sidenav .closebtn {
  position: absolute;
  top: 25px;
  right: 25px;
}

@media screen and (max-width: 450px) {
  .mobile_logo {
    padding: 10px;
    width: 60px;
    height: 60px;
    display: block;
  }
}

@media screen and (max-width: 960px) {
  .follow-bar {
    display: none !important;
  }

  .follow-bar-mobile {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .follow-bar-mobile>* {
    width: 80%;
    display: inline-flex;
    gap: 1.5em;
    justify-content: space-between;
  }

  .follow-bar-mobile>*:nth-child(1)>*:nth-child(1) {
    min-width: 100px;
    text-align: left;
  }
}

.follow-bar-mobile {
  display: none;
}

.menu-items {
  gap: 1.4em;
}